<%- include ('.././include/header')%> 
<div class="sidebar"> 
    <h2 class="big-title">Gestion</h2>

   
    
<button class="dropdown-btn">  Etudiant</button>  
   <div class="dropdown-container"> 
        <button class="btnmenu" onclick='afficheligne(3)'>VOIRE NOTE </button>
        <button class="btnmenu" onclick='afficheligne(4)'>VOIRE discipline</button>
    </div>
   
</div>
<%- include ('.././include/footer')%> 

<script>  
    
    let dropdown = document.getElementsByClassName("dropdown-btn");
    let i=0;

     if (dropdown) {
       for (i = 0; i < dropdown.length; i++) {
           dropdown[i].addEventListener("click", function() {
             this.classList.toggle("active");
             let dropdownContent = this.nextElementSibling;
             if (dropdownContent.style.display === "block") {
               dropdownContent.style.display = "none";
             } else {
               dropdownContent.style.display = "block";
             }
           });
         }      
     }

     function afficheligne(i)
     {
       let secre = document.getElementsByClassName("secre")
      
       if(secre[i])
       { 
         let a =0 
        for(a;a<secre.length;a++)
        {
          if(secre[a].style.display == "block")
           secre[a].style.display = "none";
        }
         secre[i].style.display = "block";
        
       }else{
         console.log('ça arrive')
       }
      

     };

 </script>