

   
<%- include ('../include/header')%> 
<div class="main">
    <form action="/connexion" class="form">
        
            <input type="text" name="" id="" placeholder="nom d'utilisateur">
            <input type="password" name="" id=""placeholder="mots de passe ">
            <input type="submit" value="envoyer"placeholder="cool">
    
    </form>

</div>
<%-include('../include/footer') %> 
    


   

   