

   
<%- include ('../include/header')%> 
<div class="main">
    <form action="" method="POST" class="form">    
            <input type="email" name="email" id="" placeholder="email d'utilisateur ">
            <input type="password" name="password" id=""placeholder="mots de passe ">
            <input type="submit" value="envoyer"placeholder="cool">   
    </form>

</div>
<%-include('../include/footer') %> 
    


   

   