<%- include ('.././include/header')%> 

<div class="sidebar"> 
    <h2 class="big-title">Gestion</h2>

   <button class="dropdown-btn">Notes</button>  
   <div class="dropdown-container">
       <button class="btnmenu" onclick='afficheligne(0)'>ajout de note </button>
        <button class="btnmenu" onclick='afficheligne(1)'>voir  notes </button>     
   </div>
   
</div>

<div class="main">
    <form method="POST" action="/directeur/AjoutSecretaire"  class="form secre">
            <input type="text" name="Nom" id="" placeholder="NOM">
            <input type="text" name="prenom" id=""placeholder="PRENOM">
            <input type="email" name="email" id=""placeholder="email">
            <input type="text" name="naissance" id="" placeholder="lieu de naissance">
            <input type="number" name="numTel" id="" placeholder="numero de telephone">
            <div class="sexe">
                <label for="">Masculin</label>
                <input type="radio" name="sexe" value="M" id="" >
                <label for="">Feminin</label>
                <input type="radio" name="sexe" value="F" id="" >
            </div>
            <input type="submit" value="envoyer">
    </form>
    <form method="POST" action="/directeur/AjoutSecretaire"  class="form secre">
      <input type="text" name="Nom" id="" placeholder="NOM">
      <input type="text" name="prenom" id=""placeholder="PRENOM">
      <input type="email" name="email" id=""placeholder="email">

</form>
</div>
     
    <script>  
          let dropdown = document.getElementsByClassName("dropdown-btn");
          let i=0;

           if (dropdown) {
             for (i = 0; i < dropdown.length; i++) {
                 dropdown[i].addEventListener("click", function() {
                   this.classList.toggle("active");
                   let dropdownContent = this.nextElementSibling;
                   if (dropdownContent.style.display === "block") {
                     dropdownContent.style.display = "none";
                   } else {
                     dropdownContent.style.display = "block";
                   }
                 });
               }      
           }

           function afficheligne(i)
           {
             let secre = document.getElementsByClassName("secre")
            
             if(secre[i])
             { 
               let a =0 
              for(a;a<secre.length;a++)
              {
                 if(secre[a].style.display == "block")
                 secre[a].style.display = "none";
              }
               secre[i].style.display = "block";
              
             }else{
               console.log('ça arrive')
             }
            

           };
   
       </script>

<%- include ('.././include/footer')%> 