

   
<%- include ('./include/header')%> 
<div class="main">
    <form method="POST" action=""  class="form">
            <input type="email" name="email" id="" placeholder="cool">
            <input type="password" name="password" id=""placeholder="cool">
            <input type="submit" value="envoyer">
    </form>
    
</div>
<%-include('./include/footer') %> 
    


   

   