

   
<%- include ('./include/header')%> 
<div class="main">
    <form method="POST" action="/directeur"  class="form">
            <input type="text" name="" id="" placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="submit" value="envoyer">
    </form>
    
</div>
<%-include('./include/footer') %> 
    


   

   