

   
<%- include ('./include/header')%> 
<div class="main">
    <form action="" class="form">
        
            <input type="text" name="" id="" placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="text" name="" id=""placeholder="cool">
            <input type="submit" value="envoyer"placeholder="cool">
    
    </form>

</div>
<%-include('./include/footer') %> 
    


   

   