<%- include ('./include/header')%> 


    <div class="table-cont">
           
                <table class="tab-affich" >
                    <thead>
                        <tr>
                          <!--<th colspan="2">The table header</th> --> 
                           <th>cool</th> 
                           <th>cool</th> 
                           <th>cool</th> 
                           <th>cool</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>bien</td>
                            <td>bien</td>
                            <td>bien</td>
                            <td>bien</td>
                        </tr>
                    </tbody>
                </table>
            
   </div>

</div>
      

   
<%- include ('./include/footer')%> 