<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css"> 
    <title> ✒intranet gestion scollaire </title>
</head>
<body>

    <header class="bar-haut">
        <a href="#" class="icon">icon</a> 
        <nav class="nav-bar">
            <% if (headers) {%> 
                <%- headers %> 
            <% } %> 
        </nav> 
    </header>
     <% if(locals.flash) {%> 
        <div class="<%=flash.type%> ">
             <%flash.content.forEach(function(error) {%>
                <%=error.msg %> <br>
            <%})%> 
        </div>
     <% } %>    

    