<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css"> 
    <title> ✒intranet gestion scollaire </title>
</head>
<body>

    <header class="bar-haut">
        <a href="#" class="icon">icon</a> 
        <nav class="nav-bar">
            <a href="/">acceille</a>
            <a href="/connexion" class="active" >connexion</a>
            <a href="/tab">tab</a><a href="#">bien</a>
        </nav> 
    </header>