<%- include ('../.././include/headerdash')%> 
<div class="container-fluid">
    <div class="col-4 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
        <h1 class="mb-0 fw-bold text-center">
          Etudiant
        </h1>
         <!-- Text -->
         <p class="mb-6 text-center text-muted">
          inscription etudiants
         </p>
        <form method="POST" action="/inscription/ajoutProfIns"  class="mb-6">
          <input type="text" class="form-control" name="nom" id="" placeholder="NOM">
          <input type="text" class="form-control" name="prenom" id=""placeholder="PRENOM">
          <input type="email" class="form-control" name="email" id=""placeholder="email">
          <input type="text" class="form-control" name="lieunaissance" id="" placeholder="lieu de naissance">
          <input type="number" class="form-control" name="numtel" id="" placeholder="numero de telephone">
          <div class="sexe">
              <label for="">Masculin</label>
              <input type="radio" name="sexe" value="M" id="" >
              <label for="">Feminin</label>
              <input type="radio" name="sexe" value="F" id="" >
          </div>
         <!-- Submit -->
         <button class="btn w-100 btn-primary" type="submit">
          connecter
        </button>
       </form>
    </div>
</div>
<%- include ('../.././include/footerdash')%> 