<%- include ('../.././include/headerdash')%> 

<div class="container-fluid" >
  <section class="section-border border-primary">
    <div class="container d-flex flex-column">
       
      <div class="row align-items-center justify-content-center gx-0 min-vh-100">
        <h1 class="mb-1">BIENVENU(e) directeur(ce) <%= locals.user.Personel.NomPersonel  %>  </h1>
          <div class="col-7 col-md-6 col-lg-3 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
            <!-- Image -->
            <img src="static/landkit/assets/img/illustrations/directrice.png" alt="..." class="img-fluid">

          </div>
         
      </div>
    </div>
  </section>

</div>

<%- include ('../.././include/footerdash')%> 