<%- include ('../.././include/headerdash')%> 
     <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-8">
  
              <!-- Card -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-auto">
  
                      <!-- Avatar -->
                      <a href="profile-posts.html" class="avatar avatar-lg">
                        photo
                      </a>
  
                    </div>
                    <div class="col ms-n2">
  
                      <!-- Title -->
                      <h4 class="mb-1">
                        <a href="profile-posts.html">Dianna Smiley</a>
                      </h4>
  
                     
  
                    
                   
  
                    </div>
                    <div class="col-auto">
  
                      <!-- Button -->
                      <a href="#!" class="btn btn-sm btn-primary d-none d-md-inline-block">
                        Subscribe
                      </a>
  
                    </div>
                    
                  </div> <!-- / .row -->
                </div> <!-- / .card-body -->
              </div>
  
              
            </div>
             <div class="col-12 col-xl-4">
                 <div class="card">
                     <div class="card-body">
                        <a href="/directeur/AjoutSurveillant" class="btn btn-primary d-block d-md-inline-block lift">
                            ajouter d'un surveillant
                          </a>
                     </div>
                 </div>       
             </div>
            
          </div>
     </div>
<%- include ('../.././include/footerdash')%> 